.colors21{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    font-size: large;
    font-weight: 600;
    
    
}
.black{
    background-color: black;
}
.pink{
    background-color: pink;
}
.white{
    border: 2px solid black;
    color: blanchedalmond;
}
.p-d-none{
    display: none;
}
#back-btn{
    margin:2rem;
    text-align: center;
}
#product-container{
    display: none;
}
.pd-style{
    font-size: large;
    font-weight: 500;
}